.filter-type-container {
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.filter-type-image-container {
    background-color: rgb(252, 238, 192);
    border-radius: 50%;

}

.filter-type-image {
    height: 30px;
    padding: 12px;

}

.filter-type-text {
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    color: gray ;
}